.cultural-container {
  padding: 20px;
  
text-align: center;
}

.cultural-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.8rem;
}

.cultural-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cultural-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s;
  overflow: hidden;
}

.cultural-item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s;
}

.cultural-item:hover {
  transform: scale(1.05);
}

.cultural-item img:hover {
  transform: scale(1.1);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}
