.admin-container-dashboard {
 width: 100%;
 height: 100vh;
 padding: 10px;
 background-color: white;
}

.admin-header {
 text-align: left;
}

.admin-header h2 {
 margin: 0;
}

.admin-header p {
 margin: 0;
 font-size: 14px;
 color: grey;
}

.admin-welcome {
 width: 100%;
 padding: 20px;
 background-color: #8fbc8f;
 border-radius: 15px;
 color: white;
 display: flex;
 justify-content: center;
 gap: 20px;
 align-items: center;
}

.admin-welcome p {
 margin: 0;
}

.admin-welcome span {
 font-weight: bold;
 color: black;
}

@media (max-width: 992px) {
 .admin-container-dashboard {
  height: auto !important;
 }
 .admin-header h2 {
   font-size: 1.5rem;
 }

 .admin-welcome {
   flex-direction: column;
   text-align: center;
 }

 .admin-welcome p {
   font-size: 1rem;
 }
}

@media (max-width: 768px) {
 .admin-header h2 {
   font-size: 1.25rem;
 }

 .admin-header p {
   font-size: 10px;
 }

 .admin-welcome {
   padding: 10px;
   gap: 10px;
 }

 .admin-welcome p {
   font-size: 0.875rem;
 }
}

@media (max-width: 576px) {
 .admin-header h2 {
   font-size: 1rem;
 }

 .admin-header p {
   font-size: 8px;
 }

 .admin-welcome {
   padding: 8px;
   gap: 8px;
 }

 .admin-welcome p {
   font-size: 0.75rem;
 }
}
