.schedule-create-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.schedule-create-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.schedule-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.schedule-form .form-group {
  display: flex;
  flex-direction: column;
}

.schedule-form .form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.schedule-form .form-group select,
.schedule-form .form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.schedule-day {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.schedule-day select, .schedule-day input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.schedule-form .add-button,
.schedule-form .submit-button {
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.schedule-form .add-button {
  background-color: #28a745;
  color: white;
}

.schedule-form.submit-button {
  background-color: #007bff;
  color: white;
}

.schedule-form .add-button:hover,
.schedule-form .submit-button:hover {
  background-color: #0056b3;
}

.schedule-form button[type="button"] {
  padding: 8px 12px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.schedule-form button[type="button"]:hover {
  background-color: #e53935;
}



.modal-info-alumn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
}

.modal-overlay-info-alumn {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.help-modal-content {
  position: relative;
  padding: 20px;
}

.help-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #f44336;
}
