.container-info-areas {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  color: green;
}

.section1-info-areas {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.section2-info-areas {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.section-img-info-areas {
  width: 400px;
}

.section-img-info-areas img {
  width: 100%;
  height: auto;
}

/* Media queries for responsive design */
@media (max-width: 800px) {
  .container-info-areas {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .section1-info-areas,
  .section2-info-areas {
    padding: 10px;
  }

  .section-img-info-areas {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .container-info-areas {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .section1-info-areas,
  .section2-info-areas {
    padding: 10px;
  }

  .section-img-info-areas {
    width: 100%;
  }
}
