.inscription-container {
 display: flex;
 align-items: center;
 padding: 40px;
 color: rgb(0, 0, 0); /* Texto blanco */
 border-radius: 10px;
 max-width: 1200px;
 margin: 0 auto;
 margin-top: 10px;
 gap: 40px;
}

.inscription-text {
 flex: 1;
 max-width: 50%;
}

.inscription-image {
 flex: 1;
 max-width: 50%;
}

.inscription-image img {
 width: 100%;
 height: auto;
 border-radius: 10px;
}

.inscription-text h1 {
 font-size: 36px;
 margin-bottom: 20px;
 color: #0c5417; /* Color del texto */
}

.inscription-text p,
.inscription-text ul {
 font-size: 18px;
 margin-bottom: 20px;
 color: rgb(0, 0, 0);
}

.inscription-text ul {
 list-style-type: none;
 padding-left: 0;
}

.inscription-text ul li::before {
 content: '•';
 color: #f0c040; /* Color del punto */
 font-weight: bold;
 display: inline-block;
 width: 1em;
 margin-left: -1em;
}

/* Ocultar la imagen en pantallas más pequeñas */
@media (max-width: 768px) {
  .inscription-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .inscription-image {
    display: none;
  }
  .inscription-text {
    max-width: 100%;
  }
}
