.credential-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% auto;
  width: 100%;
  background-color: #f5f5f5;
}

.credential-card {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.cbta-logo,
.sep-logo {
  height: 50px;
}

.body-credencial {
  padding: 2px;
  background: linear-gradient(to bottom, #ffffff 25%, #66ccff 100%);
}

.photo-section {
  display: flex;
  gap: 10px;
}

.student-photo-docente {
  width: 100px;
  height: 150px;
  border-radius: 10px;
}


.name-logo-credential {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.student-name {
  margin: 10px 0;
  font-size: 25px;
  font-weight: bold;
}

.info-section-docente {
  text-align: left;
  margin: 10px 0;
}

.info-section-docente h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.info-section-docente p {
  margin: 5px 0;
  font-size: 14px;
  padding: 3px;
}
.info-section-docente p:nth-last-child(4) {
  text-align: center;
}
.career-logo {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
}