.inscription-admin-container {
 padding: 20px;
 width: 100%;
 height: 100vh;
}

.add-button {
 background-color: #28a745;
 color: white;
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 margin-bottom: 20px;
 display: inline-block;
}

.add-button:hover {
 background-color: #218838;
}

.table-container {
 width: 100%;
 overflow-x: auto;
}

.inscription-table {
 width: 100%;
 border-collapse: collapse;
}

.inscription-table th,
.inscription-table td {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: left;
}

.inscription-table th {
 background-color: #f2f2f2;
}

.inscription-image {
 width: 100px;
 height: auto;
}

.action-buttons {
 display: flex;
 gap: 10px;
}

.register-modal-overlay {
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgba(0, 0, 0, 0.5);
}

.register-modal-content {
 background-color: #fff;
 padding: 20px;
 border: 1px solid #888;
 width: 80%;
 max-width: 500px;
 border-radius: 8px;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.form-group {
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.save-button {
 background-color: #007bff;
 color: white;
 padding: 10px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

.cancel-button {
 color: #aaa;
 font-size: 28px;
 font-weight: bold;
 position: absolute;
 top: 10px;
 right: 20px;
 cursor: pointer;
}

.cancel-button:hover,
.cancel-button:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1200px) {
 .table-container {
   overflow-x: auto;
 }
}

@media (max-width: 992px) {
 .inscription-admin-container {
   padding: 15px;
 }

 .table-container {
   width: 100%;
   overflow-x: auto;
 }
}

@media (max-width: 768px) {
 .inscription-admin-container {
   padding: 10px;
 }

 .inscription-table th,
 .inscription-table td {
   padding: 6px;
 }

 .add-button {
   padding: 8px 16px;
 }

 .save-button {
   padding: 8px;
 }

 .table-container {
   width: 100%;
   overflow-x: auto;
 }
}

@media (max-width: 576px) {
 .inscription-admin-container {
   padding: 5px;
 }

 .inscription-table th,
 .inscription-table td {
   padding: 4px;
 }

 .add-button {
   padding: 6px 12px;
 }

 .save-button {
   padding: 6px;
 }

 .table-container {
   width: 100%;
   overflow-x: auto;
 }
}
