name: PWA CI/CD Workflow

on:
  push:
    branches:
      - development
      - feature/*
      - main
      - release/*
  pull_request:
    branches:
      - development
      - main
      - release/*
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Dependencies
        run: npm install

      - name: Set environment variables
        run: |
          echo "API_KEY=${{ secrets.API_KEY }}" >> $GITHUB_ENV
          echo "STAGING_TOKEN=${{ secrets.STAGING_TOKEN }}" >> $GITHUB_ENV
      

      - name: Build Project
        run: npm run build

      - name: Run Unit Tests with Coverage
        run: npm test -- --coverage --passWithNoTests

      # Iniciar el servidor de desarrollo
      - name: Start Development Server
        run: npm start &
        env:
          PORT: 5173
          

      # Asegurarse de que hay tiempo suficiente para iniciar el servidor
      - name: Wait for Server Initialization
        run: sleep 10

      # Esperar a que el servidor esté disponible antes de ejecutar Cypress
      - name: Wait for Server to be Ready
        run: npx wait-on http://localhost:5173

        #Etapa de Pruebas 
      - name: Install Cypress
        run: npm install cypress --save-dev

      - name: List Cypress Spec Files 
        run: ls cypress/e2e/

      - name: Run E2E Tests with Cypress
        run: npx cypress run
        
        #2 evualuacion de rendimiento ypruebas de carga    
      - name: Install Lighthouse CI
        run: npm install -g @lhci/cli@0.8.x

      - name: Run Lighthouse CI
        run: lhci autorun

      - name: Install k6
        run: sudo apt-get install k6

      - name: Run Load Test
        run: k6 run load-test.js



      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-output
          path: ./build

      # Notificación a Slack en caso de éxito o fallo
      - name: Notify Slack of Successful Build
        if: success()
        uses: 8398a7/action-slack@v3
        with:
          status: success
          fields: repo,commit,author
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: 'CI/CD Bot'

      - name: Notify Slack of Failed Build
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          status: failure
          fields: repo,commit,author
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: 'CI/CD Bot'


  deploy:
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install Dependencies
        run: npm install

      - name: Deploy to Production
        run: |
          echo "Deploying application..."
